@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap");

:root {
  /* colors */
  --body-bg: #fafafa;
  --page-bg: #f5f5f5;
  --dark-text: #2a2935;

  /* spacing */
  /* this is what defines the global scale */
  --baseline: 12px;

  /* fonts */
  --book-title: "Tulpen One", sans-serif;
  --title: "Cormorant Garamond", serif;
  --body: "Cormorant Garamond", serif;
  --base-size: var(--baseline) * 1.2;

  --size-200: 0.25px;
  --size-300: 0.5px;
  --size-400: 0.75px;
  --size-500: 1rem;
  --size-600: 1.2rem;
  --size-700: 1.5rem;
  --size-800: 2rem;
  --size-900: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("imgs/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(0.8);
}

.cover {
  width: calc(var(--baseline) * 60);
  height: calc(var(--baseline) * 42.6);
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.book {
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 1200px;
}

.cover__page,
.book__page {
  position: relative;
  width: 50%;
  height: 100%;
  display: grid;
  transform: rotateY(0deg);
  transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: 0% 0%;
  background-color: var(--page-bg);
  background-image: linear-gradient(
    90deg,
    rgba(227, 227, 227, 1) 0%,
    rgba(247, 247, 247, 0) 18%
  );
}

.cover__page {
  border-radius: 20px 0 0 20px;
}

.book__page {
  position: absolute;
  right: 0;
  cursor: pointer;
  transform-style: preserve-3d;
  background-image: linear-gradient(
      90deg,
      rgba(227, 227, 227, 1) 0%,
      rgba(247, 247, 247, 0) 18%
    ),
    url("imgs/paperTexture.png");

  border-radius: 0 20px 20px 0;

  border-left: 1px solid rgb(207, 207, 207);
}

.book__page--cover {
  overflow: hidden;

  background-image: url("imgs/paperTexture.png"), url("imgs/emily.jpg"),
    linear-gradient(
      -90deg,
      rgba(227, 227, 227, 1) 0%,
      rgba(247, 247, 247, 0) 18%
    );
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.book__page--1-2 {
  z-index: 100;
}

.table-of-contents {
  display: grid;
  text-align: left;
}

.table-of-contents h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--title);
  font-size: 1.5rem;
  letter-spacing: 2px;
  border-bottom: 1px solid salmon; /* NEED TO GET A COLOR PALETTE*/
  padding-bottom: 0.5rem;
}

a {
  color: red;
  text-decoration: underline;

  &:hover {
    color: blue;
  }
}

.chapter__details {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: end;
  font-family: monospace;

  & .chapter__title {
    position: relative;
    overflow: hidden;
  }

  & .chapter__page {
    text-align: right;
  }

  & .leaders::after {
    position: absolute;
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    padding-left: 0.25ch;
    padding-right: 0.5ch;
    text-align: right;
  }
}

.book__page--3-4 {
  z-index: 90;
}

.book__page-front {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(0deg) translateZ(1px);
}

.book__page-back {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg) translateZ(1px);
}

.page__content {
  height: 100%;
  position: relative;
  text-align: center;
  padding: 2rem;
}

.page__content-book-title {
  font-family: var(--book-title);
  font-size: calc(var(--base-size) * 3);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--dark-text);
  margin-top: calc(var(--baseline) * 5);
  margin-bottom: calc(var(--baseline) * 2);
}

.page__content-author {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1.4);
  font-weight: 100;
  text-transform: uppercase;
  color: var(--dark-text);
  border-top: 1px solid var(--dark-text);
  border-bottom: 1px solid var(--dark-text);
  display: inline-block;
  padding: calc(var(--baseline) / 2) calc(var(--baseline) / 5);
  margin-bottom: calc(var(--baseline) * 6);
}

.page__content-credits {
  font-family: var(--title);
  text-transform: uppercase;
  font-size: calc(var(--base-size) * 0.8);
  margin-bottom: calc(var(--baseline) * 2);
  letter-spacing: 1px;

  & span {
    display: block;
    font-size: calc(var(--base-size) * 0.8);
    letter-spacing: 0;
  }
}

.page__content-copyright {
  position: absolute;
  width: calc(100% - (var(--baseline) * 2));
  bottom: calc(var(--baseline) * 2);
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.8);
  text-transform: uppercase;
}

.page__content-title {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: calc(var(--baseline) * 5);
  margin-bottom: calc(var(--baseline) * 3);
}

.page__content-table {
  width: 100%;
  margin-top: calc(var(--baseline) * 2);

  & td {
    font-family: var(--title);
    font-size: calc(var(--base-size) * 1);
    padding-bottom: calc(var(--baseline) * 1.5);
    text-transform: uppercase;
  }
}

.page__content-blockquote {
  margin-bottom: calc(var(--baseline) * 2);
}

.page__content-blockquote-text {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.67);
  font-style: italic;
  text-align: justify;
  line-height: 9.648px;
}

.page__content-blockquote-reference {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.7);
  margin-top: calc(var(--baseline) * 0.3);
  float: right;
  text-transform: uppercase;
}

.page__content-text {
  font-family: var(--title);
  font-size: calc(var(--base-size) * 0.67);
  text-align: justify;
  text-indent: var(--baseline);
  line-height: 9.648px;
}

.page__number {
  position: absolute;
  bottom: var(--baseline);
  width: calc(100% - (var(--baseline) * 2));
  font-family: var(--title);
  font-size: calc(var(--base-size) * 1);
  text-align: center;
}

label:has(input:checked) {
  /* styles */
  transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: rotateY(-180deg);

  animation: zflip 0s linear 600ms forwards;
  /* z-index: 0; */
}

@keyframes zflip {
  to {
    z-index: 0;
  }
}

input[type="checkbox"] {
  display: none;

  /* &:checked + .book__page {
    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: rotateY(-180deg);
  } */
}
