@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap");

:root {
  /* colors */
  --body-bg: #fafafa;
  --page-bg: #f5f5f5;
  --dark-text: #2a2935;

  /* spacing */
  /* this is what defines the global scale */
  --baseline: 12px;

  /* fonts */

  --base-size: var(--baseline) * 1.2;

  --ff-standard: "Merienda", cursive; /* Everything else */
  --ff-cursive: "Tangerine", cursive; /* Titles */
  --ff-fancy: "Lavishly Yours", cursive; /* Page Numbers*/

  --fs-300: 0.5rem;
  --fs-400: 0.75rem;
  --fs-500: 1rem;
  --fs-550: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 3rem;
  --fs-900: 4rem;

  --clr-neutral-100: white;
  --clr-neutral-600: rgb(87, 87, 87);
  --clr-neutral-800: rgb(50, 50, 50);
  --clr-neutral-900: rgb(20, 20, 20);

  --clr-primary-100: #89cff1;
  --clr-primary-300: #5293bb;
  --clr-primary-500: #3776a1;
  --clr-primary-700: #003a6b;

  --clr-accent-300: ;
  --clr-accent-500: ;
  --clr-accent-700: ;

  --size-200: 0.25rem;
  --size-300: 0.5rem;
  --size-400: 0.75rem;
  --size-500: 1rem;
  --size-600: 1.2rem;
  --size-700: 1.5rem;
  --size-800: 2rem;
  --size-900: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr-neutral-800);
  font-family: var(--ff-standard);
  overflow: hidden;

  background-image: url("imgs/redBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(0.8);
}

.cover {
  width: calc(var(--baseline) * 60);
  height: calc(var(--baseline) * 42.6);
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.book {
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 1200px;
}

.cover__page,
.book__page {
  position: relative;
  width: 50%;
  height: 100%;
  display: grid;
  transform: rotateY(0deg);
  transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: 0% 0%;
  background-color: var(--page-bg);
  background-image: linear-gradient(
    90deg,
    rgba(227, 227, 227, 1) 0%,
    rgba(247, 247, 247, 0) 18%
  );
}

.cover__page {
  border-radius: 20px 0 0 20px;
}

.book__page {
  position: absolute;
  right: 0;
  cursor: pointer;
  transform-style: preserve-3d;
  background-image: linear-gradient(
      90deg,
      rgba(227, 227, 227, 1) 0%,
      rgba(247, 247, 247, 0) 18%
    ),
    url("imgs/paperTexture.png");

  border-radius: 0 20px 20px 0;

  border-left: 1px solid rgb(207, 207, 207);
}

.book__page--cover {
  overflow: hidden;

  background-image: url("imgs/paperTexture.png"), url("imgs/emily.jpg"),
    linear-gradient(
      -90deg,
      rgba(227, 227, 227, 1) 0%,
      rgba(247, 247, 247, 0) 18%
    );
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.book__page--1-2 {
  z-index: 100;
}

.title-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-title {
  font-family: var(--ff-cursive);
  font-weight: 700;
  font-size: var(--fs-900);
  margin-top: var(--size-900);
  position: relative;
  text-shadow: 1px 0 var(--clr-primary-100);
}

.author {
  font-family: var(--ff-cursive);
  font-size: var(--fs-700);

  border-top: 1px solid var(--clr-primary-300);
  border-bottom: 1px solid var(--clr-primary-300);
  width: fit-content;
  padding: var(--size-300) var(--size-400);
  margin: var(--size-500) 0 auto 0;
}

.credits {
  font-family: var(--ff-standard);
  font-size: var(--fs-400);

  margin-bottom: var(--size-400);
}

.copyright {
  font-family: var(--ff-standard);
  font-size: var(--fs-400);
}

.table-of-contents {
  display: grid;
  text-align: left;
}

.table-of-contents h1 {
  text-align: center;
  font-family: var(--ff-cursive);
  font-size: var(--fs-800);
  border-bottom: 1px solid var(--clr-primary-300); /* NEED TO GET A COLOR PALETTE*/
  padding-bottom: var(--size-300);
  text-shadow: 1px 0 var(--clr-primary-100);
}

.chapters {
  margin-top: var(--size-500);
  display: grid;
  gap: var(--size-700);
}

.chapter {
  display: grid;
  gap: var(--size-00);

  & h2 {
    font-family: var(--ff-standard);
    font-size: var(--fs-550);
    font-weight: 500;
  }
}

a {
  color: var(--clr-primary-500);
  text-decoration: none;

  &:hover {
    color: var(--clr-primary-700);

    & .leaders::after {
      color: var(--clr-primary-700);
    }
  }
}

.chapter__details {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: end;
  font-family: monospace;

  & .chapter__title {
    font-family: var(--ff-standard);
    font-size: var(--fs-500);

    position: relative;
    overflow: hidden;
  }

  & .chapter__page {
    text-align: right;
  }

  & .leaders::after {
    position: absolute;
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    padding-left: var(--size-400);
    padding-right: var(--size-300);
    text-align: right;
    color: var(--clr-primary-300);
  }
}

.who-am-i,
.collected-works,
.workforce,
.schooling {
  & h2 {
    text-transform: uppercase;

    & p:nth-child(1) {
      font-size: var(--fs-500);
      margin-bottom: var(--size-200);
    }
    & p:nth-child(2) {
      font-size: var(--fs-550);
      margin-bottom: var(--size-600);
      padding-bottom: var(--size-300);
      border-bottom: 1px solid var(--clr-primary-300);
    }
  }

  & > p {
    text-align: justify;
    line-height: var(--size-700);
  }
}

.work {
  text-align: justify;

  & h3 {
    margin-bottom: var(--size-500);
  }
}

.schooling__details {
  display: grid;
  gap: var(--size-600);

  & span {
    font-weight: 700;
    color: var(--clr-primary-500);
  }
}

.job {
  text-align: justify;

  & h4 {
    margin-bottom: var(--size-200);
  }

  & span {
    font-weight: 300;
  }

  & p {
    font-size: var(--fs-400);
  }

  & ul {
    font-size: var(--fs-400);
    list-style: none;

    & li {
      margin-bottom: var(--size-200);
    }
  }
}

.book__page--3-4 {
  z-index: 90;
}
.book__page--5-6 {
  z-index: 80;
}
.book__page--7-8 {
  z-index: 70;
}
.book__page--9-10 {
  z-index: 60;
}
.book__page--11-12 {
  z-index: 50;
}
.book__page--13-14 {
  z-index: 40;
}

.book__page-front {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(0deg) translateZ(1px);
}

.book__page-back {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg) translateZ(1px);
}

.page__content {
  height: 100%;
  position: relative;
  text-align: center;
  padding: 2rem;
}

.page__number {
  position: absolute;
  bottom: 2rem;
  left: 50%;

  font-size: var(--fs-500);
  font-family: var(--ff-fancy);
}

label:has(input:checked) {
  /* styles */
  transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: rotateY(-180deg);

  animation: zflip 0s linear 600ms forwards;
  /* z-index: 0; */
}

@keyframes zflip {
  to {
    z-index: 0;
  }
}

input[type="checkbox"] {
  display: none;

  /* &:checked + .book__page {
    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: rotateY(-180deg);
  } */
}
